{% extends "main/base.html" %}
{% block content %}

    {% if user.is_authenticated %}

    <h1>Workout details: </h1> 
    <a class="btn btn-secondary" href="{% url 'workouts' %}">Back to workouts</a>
    <br />

        <h2>{{ object.id }}</h2>
        <h2>{{ object.username }}</h2>
        <h2>{{ object.WName }}</h2>
        <h2>{{ object.date|date:"m d, Y" }}</h2>
        <br />

        {% if object.username == user %}
            <a class="btn btn-primary mt-1 mb-1" href="{% url 'workout-exercises' object.id %}">View Exercises</a>
            <a class="btn btn-primary mt-1 mb-1" href="{% url 'exercises-add' object.id %}">Add Exercises</a>
            <br />
            <a class="btn btn-secondary mt-1 mb-1" href="{% url 'workouts-update' object.id %}">Update workout</a>
            <a class="btn btn-outline-danger" href="{% url 'workouts-delete' object.id %}">Delete workout</a>
        {% endif %}

    {% else %}
        <h2>Login to view or edit your workouts</h2>
        <a href="{% url 'login' %}">Login</a>
        <br />
        <h2>Or register if you don't have an account to log into</h2>
        <a href="{% url 'register' %}">Register now!</a>   
    {% endif %}

{% endblock content %}