{% extends "main/base.html" %}
{% block content %}

    {% if user.is_authenticated %}
    <h1>Your most recent workouts: </h1> 
    <a class="btn btn-secondary" href="{% url 'profile' %}">back to profile</a>
    <br /><br />

        {% for workout in workouts %}
            <div class="content-section">
                <!--If user is not on mobile, display buttons on top of text and aligned to the right.-->
                {% if not request.user_agent.is_mobile %}
                    <div class="button-section float-right">
                        <a class="btn btn-secondary mt-1 mb-1" href="{% url 'workout-exercises' workout.id %}">View Exercises</a>
                        <a class="btn btn-secondary mt-1 mb-1" href="{% url 'exercises-add' workout.id %}">Add Exercises</a>
                        <a class="btn btn-secondary mt-1 mb-1" href="{% url 'workouts-update' workout.id %}">Update workout</a>
                        <a class="btn btn-outline-danger" href="{% url 'workouts-delete' workout.id %}">Delete workout</a>
                    </div>
                    <h2>{{ workout.WName }}  </h2>
                    <br />
                    <h4>{{ workout.date|date:"m d, Y" }}</h4>
                <!--If user is on mobile, display buttons below text.-->
                {% else %}
                    <h2>{{ workout.WName }}  </h2>
                    <br />
                    <h4>{{ workout.date|date:"m d, Y" }}</h4>
                    <a class="btn btn-secondary mt-1 mb-1" href="{% url 'workout-exercises' workout.id %}">View Exercises</a>
                    <a class="btn btn-secondary mt-1 mb-1" href="{% url 'exercises-add' workout.id %}">Add Exercises</a>
                    <a class="btn btn-secondary mt-1 mb-1" href="{% url 'workouts-update' workout.id %}">Update workout</a>
                    <a class="btn btn-outline-danger" href="{% url 'workouts-delete' workout.id %}">Delete workout</a>
                {% endif %}
                
            </div>
        {% endfor %}

    {% else %}
        <h2>Login to view or edit your workouts</h2>
        <a href="{% url 'login' %}">Login</a>
        <br />
        <h2>Or register if you don't have an account to log into</h2>
        <a href="{% url 'register' %}">Register now!</a>   
    {% endif %}

{% endblock content %}