{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Welcome to Workout Buddy!</h1>
    <h2>What you can do: </h2>
        <br />
        <h4>This web application allows a user to register up an account and to log their workouts.
            <br /><br />
            When a user creates their account, they can create exercises and the exercise details associated with that exercise to their workout.
            <br /><br />
            The user can then also update, delete, or add more exercises/exercise details to their workout or create a new workout.
            <br /><br />
            What is handy about this web app is that the total volume for your exercise will be calculated automatically so you don't have to do it yourself. 
            Don't worry, the volume will be adjusted if you make any updates to your exercise details as well too.
            <br /><br />
        </h4>
    <h2>How it works:</h2>
        <br />
        <h4>Say you did a Full Body A workout routine Monday, log that down and the database will save all the information so you can view it anywhere. 
            Once you do Full Body A again on Friday, just create a workout with the same name if you'd like, and you can go back to the Full Body A you 
            did on monday to compare the two.
            <br /><br />
        </h4>
    
    <h5>This project was made right after I graduated in Fall 2020 with my undergraduate degree in Computer Science. If you have any questions, feel free 
    to redirect yourself to the contact page where you can see my contact information.
    <br /><br />
    Happy lifting!</h5>
        

{% endblock content %}