{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="description" content="Workout Buddy">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--our CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">

    <!--Make title for web app-->
    {% if title %}
        <title>Workout Buddy! - {{ title }}</title>
    {% else %}
        <title>Workout Buddy!</title>
    {% endif %}

</head>

<body>
    <!--Display messages here: --><!--Messages being displayed are those from things like django.contrib messages-->
    {% if messages %}
        <!-- iterate through all messages-->
        {% for message in messages %}
            <!--Display message as alert based on it's tag: success, info, etc.-->
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <!--block that extended html files will be inserted in. Other html files can override this-->
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>