{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}

        <div class="content-title">
            <h1>Welcome to Workout Buddy!</h1>
            <br />
            <h2>What would you like to do?</h2>
        </div>

        <div class="content-section">
            <!--Create a workout-->
            <h3>Create a new workout plan:</h3>
            <a class="btn btn-primary" href="{% url 'workouts-create' %}">Create a new workout</a>
        </div>

        <div class="content-section">
            <!--Add exercises to existing workout-->
            <h3>Add your exercise results to an existing workout plan:</h3>
            <a class="btn btn-primary" href="{% url 'exercises-create' %}">Add results to workout</a>
        </div>

    {% else %}
        <h2>Login to view or edit your workouts</h2>
        <a href="{% url 'login' %}">Login</a>
        <br />
        <h2>Or register if you don't have an account to log into</h2>
        <a href="{% url 'register' %}">Register now!</a>
    {% endif %}
{% endblock content %}