{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}

        <!--Create a workout-->
        <a class="btn btn-primary" href="{% url 'workouts-create' %}">Create a new workout</a>

        {% for workout in workouts %}
            <h2>{{ workout.id }}</h2>
            <h2>{{ workout.username }}</h2>
            <h2>{{ workout.WName }}</h2>
            <h2>{{ workout.date|date:"m d, Y" }}</h2>
        {% endfor %}
    {% else %}
        <h2>Login to view or edit your workouts</h2>
        <a href="{% url 'login' %}">Login</a>
        <br />
        <h2>Or register if you don't have an account to log into</h2>
        <a href="{% url 'register' %}">Register now!</a>
    {% endif %}
{% endblock content %}